* {
  font-family: 'Hind Siliguri', sans-serif;
  color: white;
}

html {
  height: 100%;
  width: 100%;
  background-color: rgb(19, 17, 44);
}

h1 {
  font-size: 25pt;
  margin: 30px;
}

img {
  height: auto;
  max-width: 20%;
}

p {
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

.widget-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1%;
  justify-content: center;
  margin: 20px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.widget {
  border-radius: 20px;
  background: radial-gradient(circle, rgba(24, 127, 148, 1) .5%, rgba(3, 5, 43, 1) 75%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extra-long {
  grid-column: span 4;
}

.long {
  grid-column: span 2;
  flex-direction: row;
}

.stacked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.small {
  font-size: 10pt;
}

.mini {
  font-size: 6pt;
}

.scale {
  height: 65%;
  width: auto;
}

.user-info {
  width: 75vw;
  justify-content: space-between;
  font-size: 9pt;
}

.data {
  font-size: 15pt;
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .widget-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(13, auto) grid-gap: 1%;
    justify-content: center;
    margin: 20px;
    height: 100%;
    width: 100%;
  }

  .tall {
    grid-row: span 2
  }

  .extra-long,
  .long {
    grid-column: span 3;
  }
}

@media screen and (max-width: 600px) {
  .widget-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 100%;
    width: 100%;
  }

  .widget {
    margin: 5% 0 5% 0;
  }
}
